<!DOCTYPE html>
<html ng-app="Koolio">
<head>
    <meta charset="utf-8">
    <title>Chat</title>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
</head>
<body ng-controller="ChatController">

<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">kool.io sample</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Chat</a></li>
                    <li><a href="product.html">Products</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a href="#>">{{me}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <span id="status">{{connectionStatus}}</span>

    <table class="table-condensed table-striped">
        <tr ng-repeat="message in collection.messages">
            <td class="time">
                [{{message.time | date:'shortTime'}}]
            </td>
            <td class="author" ng-style="authorStyle(message.author)">
                &lt;{{message.author}}&gt;
            </td>
            <td>
                {{message.text}}
            </td>
        </tr>
    </table>

    <form class="well form-inline" ng-submit="post(message)">
        <label>{{status}}: </label>
        <input type="text" ng-model="message.text" name="text"/>
        <input type="submit" class="btn btn-primary" id="submit" value="Submit"/>
    </form>
</div>

<script type="text/javascript" src="lib/angular-1.0.1.js"></script>
<script type="text/javascript" src="lib/angular-resource-1.0.1.js"></script>
<script type="text/javascript" src="jquery/jquery-1.7.2.js"></script>
<script type="text/javascript" src="jquery/jquery.atmosphere.js"></script>
<script type="text/javascript" src="js/controller.js"></script>
</body>
</html>