<!DOCTYPE html>
<html ng-app="Koolio">
<head>
    <meta charset="utf-8">
    <title>Products</title>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
</head>
<body ng-controller="ProductController">

<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">kool.io sample</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="index.html">Chat</a></li>
                    <li class="active"><a href="#">Products</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="input">
    <form class="well form-inline" ng-submit="save(formData)">
        <label>name: </label>
        <input type="text" ng-model="formData.name" name="text"/>
        <label>price: </label>
        <input type="text" ng-model="formData.price" name="text"/>
        <input type="submit" class="btn btn-primary" value="Submit"/>
        <input type="reset" class="btn" value="Cancel" ng-click="reset()"/>
    </form>
</div>
<div id="content">
    <table class="table-condensed table-striped">
        <tr ng-repeat="row in results.list">
            <td class="id">
                {{row.id}}
            </td>
            <td class="name">
                {{row.name}}
            </td>
            <td class="price">
                {{row.price}}
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript" src="lib/angular-1.0.1.js"></script>
<script type="text/javascript" src="lib/angular-resource-1.0.1.js"></script>
<script type="text/javascript" src="js/controller.js"></script>
</body>
</html>